.containerSection5 {
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  background-color: #F6F6F6;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-bottom: 10vh;
}

.containerSection5 img {
  width: 80vw;
}

.lineGreen {
  background: linear-gradient(to right, #02913F, #114D24);
  height: 7px;
}

.containerSection5 .containerParceiros {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.containerSection5 .containerParceiros div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerSection5 .button {
  background-color: #F6F6F6;
  color: #5597BF;
  border: 1px solid #5597BF;
  border-radius: 4px;
  padding: 10px 35px;
  box-shadow: -4px 4px 0px 0px #5597BF;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  font-size: 1.3rem;
  margin-top: 20px;
}

.containerSection5 .button:hover {
  transform: scale(1.1);
}

.containerSection5 .containerParceiros .santaMaria {
  width: 300px;
}

.containerSection5 .containerParceiros .angicos {
  width: 200px;
}

@media only screen and (max-width: 545px) {
  .containerSection5 {
    height: auto;
  }
  .containerSection5 .containerParceiros {
    flex-direction: column;
    margin-top: 30px;
  }
  .containerSection5 .button {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 470px) {
  .containerSection5 .containerParceiros .santaMaria {
    width: 250px;
  }
  
  .containerSection5 .containerParceiros .angicos {
    width: 150px;
  }
}

@media only screen and (max-width: 351px) {
  .containerSection5 .containerParceiros .santaMaria {
    width: 200px;
  }
  
  .containerSection5 .containerParceiros .angicos {
    width: 100px;
  }
  .containerSection5 .button {
    font-size: 0.8rem;
  }
}