.container {
  width: vw;
  background: linear-gradient(to right, #02913F, #114D24);
  display: flex;
  justify-content: center;
}

.containerSection3 {
  width: 75vw;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  justify-content: center;
}

.containerSection3 .titleSection {
  font-size: 2.1rem;
  font-weight: 700;
  color: #F6F6F6;
  text-align: center;
  margin-bottom: 30px;
  /* width: 40%; */
}

.containerSection3 .titleSection span {
  background-color: #F7C301;
  color: #114D24;
  border-radius: 20px;
  padding: 0 5px;
}

.containerCards {
  flex: 3;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* background-color: #D6A912; */
  width: 75vw;
}

.containerCards .card {
  width: 18rem;
  height: 20rem;
  background-color: #F6F6F6;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  gap: 10px;
}

.containerCards .card .text {
  font-size: 1.1rem;
  font-weight: 400;
  color: #047A40;
  text-align: center;
  display: inline-block;
  line-height: 1;
}

.containerCards .card .title {
  font-size: 2.1rem;
  font-weight: 700;
  color: #D6A912;
  text-align: center;
  display: inline-block;
  line-height: 1;
}

.containerCards .card img {
  width: 50%;
}

@media only screen and (max-width: 1127px) {
  .containerCards .card {
    width: 17rem;
    height: 19rem;
  }

  .containerCards .card .text {
    font-size: 1rem;
  }

  .containerCards .card .title {
    font-size: 2rem;
  }

  .containerSection3 .titleSection {
    font-size: 2rem;
    width: 50%;
  }
}

@media only screen and (max-width: 1033px) {
  .containerCards .card {
    width: 15rem;
    height: 17rem;
  }

  .containerCards .card .text {
    font-size: 1rem;
  }

  .containerCards .card .title {
    font-size: 2rem;
  }

  .containerSection3 .titleSection {
    font-size: 2rem;
    width: 80%;
  }
}

@media only screen and (max-width: 775px) {
  .containerCards .card {
    width: 13rem;
    height: 15rem;
  }

  .containerCards .card .text {
    font-size: 0.9rem;
  }

  .containerCards .card .title {
    font-size: 2rem;
  }

  .containerSection3 .titleSection {
    font-size: 1.5rem;
    width: 80%;
  }
}

@media only screen and (max-width: 570px) {
  .containerCards .card {
    width: 12rem;
    height: 14rem;
  }

  .containerCards .card .text {
    font-size: 0.9rem;
  }

  .containerCards .card .title {
    font-size: 1.5rem;
  }

  .containerSection3 .titleSection {
    font-size: 1.5rem;
    width: 80%;
  }
}

@media only screen and (max-width: 470px) {
  .containerCards .card {
    width: 10rem;
    height: 12rem;
  }

  .containerCards .card .text {
    font-size: 0.7rem;
  }

  .containerCards .card .title {
    font-size: 1.3rem;
  }

  .containerSection3 .titleSection {
    font-size: 1rem;
    width: 100%;
  }
}