.containerSection6 {
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  background-color: #F6F6F6;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
}

.containerSection6 .containerHeader {
  background-color: #5597BF;
  width: 100vw;
  text-align: center;
  padding: 5rem 0;
}

.containerSection6 .containerHeader div {
  font-size: 3rem;
  color: #F6F6F6;
  text-align: center;
  font-style: italic;
  display: inline-block;
  line-height: 1;
  width: 50vw;
}

.containerSection6 .containerHeader div span {
  font-weight: 500;
}

.card-container {
  display: flex;
  gap: 25px;
}

.card-container .red {
  background-color: red;
}

@media only screen and (max-width: 1033px) {
  .containerSection6 .containerHeader div {
    font-size: 2.2rem;
  }
  .containerSection6 .containerHeader {
    padding: 4rem 0;
  }
}

@media only screen and (max-width: 775px) {
  .containerSection6 .containerHeader div {
    font-size: 2rem;
  }
  .containerSection6 .containerHeader {
    padding: 4rem 0;
  }
  .containerSection6 .containerHeader div {
    width: 90vw;
  }
}

@media only screen and (max-width: 570px) {
  .containerSection6 .containerHeader div {
    font-size: 1.7rem;
  }
  .containerSection6 .containerHeader {
    padding: 3rem 0;
  }
}

@media only screen and (max-width: 470px) {
  .containerSection6 .containerHeader div {
    font-size: 1.5rem;
  }
  .containerSection6 .containerHeader {
    padding: 2rem 0;
  }
}