.containerPage {
  /* overflow: auto; */
  /* height: 70vh; */
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 0px;
  background-color: #E5E3E3;
}

body::-webkit-scrollbar-thumb {
  background-color: #114D24;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #D6A912;
}

/* .containerPage::-webkit-scrollbar {
  display: none;
} */

.containerMenuNav {
  display: flex;
  align-items: center;
  justify-content: center;
}